.detail {
  display: flex;
  flex-direction: column;
  width: 100vw;
  display: flex;
  padding: 23px;
  font-size: large;
  margin: 10px;
  border: 1px solid #6e6e6e;
}

.img {
  width: 30px;
  height: 30px;
}

.container {
  display: flex;
  justify-content: end;
}

.btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.btn:hover {
  color: #0078ff;
}

p {
  padding: 0px 5px;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
}





.precio {
  display: flex;
  justify-content: end;
  font-size: 1.4rem;
}


.count {
  display: flex;
  align-items: center;
  margin-right: 5px;
  border: 1px solid #7774742f;
}

.count > p {
  cursor: pointer;
}

span {
  padding: 0px 5px;
  border-left: 1px solid #7774742f;
  border-right: 1px solid #7774742f;
}






