.count {
    display: flex;
    align-items: center;
    margin-right: 5px;
    border: 1px solid #7774742f;
  }
  
.title {
    font-size: 1rem;
    text-decoration: underline;
    border-right: solid 1px red ;
    border-left: solid 1px red ;
}

  .count > p {
    cursor: pointer;
  }

  .precio {
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
  }

  .flexEnd {
    display: flex;
    justify-content: end;
  }
  .flexStart {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgb(24, 21, 21);
    
  }