body {
    background-color: #000000;
  }
  
  .wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
  
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .productImg {
    margin-top: 10vh;
    float: left;
    height: 50%;
    width: 30vh;
  }
  
  .productImg img {
    border-radius: 7px 0 0 7px;
    width: 100%;
    height: 30vh;
  }
  
  .productInfo {
    float: left;
    height: 60vh;
    width: 60%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .productText {
    width: 100%;
    height: 20vh;
  }
  
  .productText h2 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 1.5em;
    color: #424033;
    text-decoration: underline;
  }
  
  .productText h2,
  .productPrice-btn p {
    font-family: "Bentham", serif;
  }
  
  .productText h3 {
    margin: 10px 0 47px 38px;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #212079;
    letter-spacing: 0.2em;
  }
  
  .productText p {
    height: 125px;
    margin: 0 0 0 10px;
    font-family: "Playfair Display", serif;
    color: #242121;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .productPriceBtn {
    display: flex;
    justify-content: space-evenly;
    height: 103px;
    width: 327px;
    margin-top: 0;
  }
  
  .productPriceBtn p {
    
    top: -13px;
    height: 50px;
    font-family: "Trocchi", serif;
    margin: 0 0 0 38px;
    font-size: 2em;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    justify-content: flex-start;
    height: 50px;
    font-family: "Suranna", serif;
    font-size: 34px;
  }
  
  .productPriceBtn button {
    justify-content: flex;
    height: 50px;
    width: 176px;
    margin: 0 0 0 0;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
  }
  
  .productPriceBtn button:hover {
    background-color: #315249;
  }
  